body{

    height: 1500px;
    width: 100wv;
    background-color:beige;
}

#container{

    height: 100%;
    width: 100%;
    min-width: 1000px;
    min-height: 560px;
    border-radius: 60px;
}

header{

    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 195, 143);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

main{

    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    
}

#btnCont{

    height: 10%;
    width: 70%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background-color: beige;
}

#resultCont{

    
    height: 13%;
    width: 70%;
    margin-top: 10px;
    border-radius: 40px;
    background-color:beige;
}

.posUl{

    margin: 10px;
    list-style:circle;
    
}

.posLi{

    margin-right: 20px;
    margin-top: 10px;
    background-color:white;
    
}

#posP1{

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

#posP2{

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

#negP{
   margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    text-align: center;
    background-color:rgb(253, 143, 143); 
}